.box{
    background-color: pink;
    height: 550px;
    border: 3px solid black;
    display: grid;
    grid-template-areas: "linha1 linha1 linha1"
                         "linha2 coluna1 coluna2";
                    
    grid-template-rows: 150px 1fr;
    grid-template-columns: 100px 1fr 300px;              
}

.linha1{
    background-color: rgb(223, 119, 29);
    grid-area: linha1;
   
}

.linha2{
    background-color: rgb(224, 20, 88);
    grid-area: linha2;
}
.coluna1{
    background-color: rgb(148, 82, 148);
    grid-area: coluna1;
}
.coluna2{
    background-color:rgb(183, 125, 236);
    grid-area: coluna2;
}


body {
    background-color:powderblue;
   
  }