body{
    background-color: plum;
}

h1 {
    background-color: rgb(208, 122, 235);
    text-align: center;
}

h2 {
    background-color: rgb(119, 14, 122);
}

h3 {
    background-color: rgb(224, 120, 228);
}
