#oi{
    background-color: red;
    color: white;
    height: 100px;
    width: 1300px;
    text-align: center;
    padding: 2%;
    font-size: 50px;
}

#ola{
    background-color: rgb(238, 238, 16);
    color: white;
    height: 100px;
    width: 1300px;
    text-align: center;
    padding: 2%;
    font-size: 50px;

}

#abc{
    background-color: black;
    color: white;
    height: 100px;
    width: 1300px;
    text-align: center;
    padding: 2%;
    font-size: 50px;
}

#beijo{
    background-color: green;
    color: white;
    height: 100px;
    width: 1300px;
    text-align: center;
    padding: 2%;
    font-size: 50px;
}









