#oi{
    background-color: red;
    height: 100px;
    width: 1500px;

}

#ola{
    background-color: rgb(236, 236, 79);
    height: 100px;
    width: 1500px;

}

#abc{
    background-color: black;
    height: 100px;
    width: 1500px;
}

#beijo{
    background-color: green;
    height: 100px;
    width: 1500px;
}

