
    h1 {
        background-color:rgb(161, 114, 189);
    
    }
    
    h2 {
        background-color: rgb(113, 142, 223);
    
    }
    
    p {
        background-color: rgb(104, 197, 104);
    
    }
    
    #p2{
        background-color: rgb(138, 222, 228);
    
    }

